
.mobileSection{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap:20px;
    margin:8px;
}
.mobile-Card{
    background: #fff;
    color:#222;
    padding:15px;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.dark .mobile-Card{
    background: #1f1f1f;
    color: #fff;
}
/* .pageImg{
    background: #fff;
    padding:15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
} */
.mobile-Img img{
    width:100%;
    height:180px;
    object-fit: contain;
}