.compSection{
    display:flex;
    
}

.compDetails{
    margin-left:25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.compImg img{
    width:100%;
}
.compCompany h2{
    font-size: 24px;
    font-weight: 600;
    color: #222;
    margin: 0;
}
.compModel p{
    font-size: 16px;
    color: #555;
    margin: 0%;
}
.compPrice h3{
    font-size: 26px;
    font-weight: 700;
    color: rgb(105, 87, 87);
    margin: 6px 0;
}
.compDesc p{
   font-size: 20px;
    width: 100%;
    color: #271f1f;
    line-height: 1.6;
    margin-top: 4px;
}
.compBtnSection{
    display: flex;
    margin:20px 0px;
}
.buyBtn button{
  /* height:50px;
  width:100px; */
  width: 10rem;
  padding:15px;
  background-color: blue;
  color:white;
  border:none;
  border-radius: 5px;
  margin-right: 15px;
  /* cursor: pointer;
  transition: 0.3s; */
  font-weight: bold;
}

.cartBtn button{
  /* height:50px;
  width:100px; */
  width: 10rem;
  padding:15px;
  background-color: red;
  color:white;
  border:none;
  border-radius: 5px;
  margin-right: 15px; 
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.cart-btn button.added{
    background-color:green;
    color:black;
}
@media (max-width: 768px) {
    .compSection{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .compImg img{
        width: 100%;
    }
   .compDetails{
        align-items: center;
   }
}
@media (max-width: 480px) {
    .compSection{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .compImg img{
        width: 100%;
    }
    .compDetails{
        align-items: center;
    }
    
}