.fridgePageSection{
    display:flex;
    
}

.fridgePageDetails{
     margin-left:25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fridgePageImg img{
    width:100%;
    
    
}
.fridgePageCompany h2{
    font-size: 24px;
    font-weight: 600;
    color: #222;
    margin: 0;
}
.fridgePageModel p{
    font-size: 16px;
    color: #555;
    margin: 0%;
}
.fridgePagePrice h3{
    font-size: 26px;
    font-weight: 700;
    color: rgb(105, 87, 87);
    margin: 6px 0;
}
.fridgePageDesc p{
   font-size: 20px;
    width: 100%;
    color: #271f1f;
    line-height: 1.6;
    margin-top: 4px;
}
.fridgeBtnSection{
    display: flex;
    margin:20px 0px;
}
.buyBtn button{
  /* height:50px;
  width:100px; */
  width: 10rem;
  padding:15px;
  background-color: blue;
  color:white;
  border:none;
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}
/* .buyBtn button:hover{
    background-color: aqua;
    color:black;
} */
.cartBtn button.normal{
  
  background-color: red;
  color:white;
  border:none;
  border-radius: 5px;
  margin-right: 15px; 
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.cart-btn button.added{
    background-color:green;
    color:black;
}
@media (max-width: 768px) {
    .fridgePageSection{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .fridgePageImg img{
        width: 100%;
    }
   .fridgePageDetails{
        align-items: center;
   }
}
@media (max-width: 480px) {
    .fridgePageSection{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .fridgePageImg img{
        width: 100%;
    }
    .fridgePageDetails{
        align-items: center;
    }
    
}