.ind-section{
    display:flex;
}
.buttonSection{
    display:flex;
}
.ind-image img{
    width: 100%;
}
.ind-details{
    padding:20px;
    margin:15px;
}
.ind-company{
    margin-bottom:10px;
}
.ind-model{
    margin-bottom:10px;
}
.ind-price{
    margin-bottom:10px;
}
.ind-desc{
    margin-bottom:10px;
}
.buttonSection{
    margin:20px 0px;
}
.buy-btn button{
  /* height:50px;
  width:100px; */
  width: 10rem;
  padding:15px;
  background-color: blue;
  color:white;
  border:none;
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}
/* .buy-btn button:hover{
    background-color: aqua;
    color:black;
} */
.cart-btn button{
  /* height:50px;
  width:100px; */
  width: 10rem;
  padding:15px;
  background-color: red;
  color:white;
  border:none;
  border-radius: 5px;
  margin-right: 15px; 
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.cart-btn button .added{
    background-color:green;
    color:black;
}
@media (max-width: 768px) {
    .ind-section{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .ind-image img{
        width: 100%;
    }
   .indetails{
        align-items: center;
   }
}
@media (max-width: 480px) {
    .ind-section{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .ind-image img{
        width: 100%;
    }
    .ind-details{
        align-items: center;
    }
    
}